body {
    margin: 0;
    background-color: #0d172b;
    color: #b9baba;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.contact-summary {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b9baba;

    .contact {
        
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            font-weight: 200;
            font-size: 0.95rem;
            height: 75%;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 10px;
            }
        }

        a {
            color: #b9baba;
            text-underline-offset: 3px;
        }

    }

    .summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #b9baba;
        padding-bottom: 20px;

        p {
            font-weight: 200;
            font-size: 0.95rem;
            line-height: 1.4rem;
            margin: 0;
            flex: 1;

            span {
                display: block;
                margin-top: 10px;

                .bold {
                    font-weight: 400;
                    display: inline;
                }
            }

            a {
                color: #b9baba;
                text-underline-offset: 3px;
            }
        }
    }
}

.footer {
    box-sizing: border-box;
    text-align: center;
    font-size: 0.85rem;
    padding: 5px;
    margin: 0 15px;
    border-top: 1px solid #b9baba;
}

.icon {
    width: 1.75em;
    height: 1.75em;
    fill: #b9baba;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #b9baba;
    margin: 20px 15px 15px;
    max-width: 1000px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .under-title {
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
        padding-left: 3px;
        text-transform: uppercase;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    margin: 0 0 15px;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;


    span:first-of-type {
        font-size: 1.25rem;
        font-weight: 200;
        padding-left: 4px;
    }
}

.job {
    margin-bottom: 15px;

    h3 {
        margin-bottom: 5px;
        font-size: 1.1rem;
    }

    p {
        margin: 0 0 10px;
        font-size: 0.95rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 15px;
        font-weight: 200;
        font-size: 0.90rem;

        li {
            margin-bottom: 5px;
        }
    }

    span {
        margin: 0 10px;
    }
}

.main {
    flex: 1;
}

.nav-links {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 15px 20px;
    border-bottom: 1px solid #b9baba;
    padding-bottom: 15px;

    a {
        color: #8a8c8c;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        font-size: 0.95rem;
        text-transform: uppercase;
    }
}

.skills-work-education {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    .skills {
        margin-bottom: 10px;

        h3 {
            margin-bottom: 5px;
            font-size: 1rem;
        }

        .skills-list {
            list-style-type: none;
            font-weight: 200;
            font-size: 0.95rem;

            li {
                margin-bottom: 5px;
            }
            
            &:first-of-type {
                margin-bottom: 15px;
            }
        }
    }

    .work-education {
        border-bottom: 1px solid #b9baba;
        padding-bottom: 20px;
    }

    .work-experience {
        margin-top: 20px;

    }

    .work-list {
    }
    
    .education {
        border-bottom: 1px solid #b9baba;
        padding-bottom: 20px;

    }

    .education-list {

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin: 0;
        }
    }
}

/* Desktop */
@media (min-width: 900px) {

    h2 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: row-reverse;
        height: 100vh;
        padding: 0;
        margin: auto;
        max-width: 1000px;
    }

    .contact-summary {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .contact {
            border-bottom: none;
            padding-bottom: 0;
        }

        .summary {
            flex: 1;
            border-bottom: none;
            padding-bottom: 0;

            p {
                padding: 0 15px 0 20px;
                padding: 0 10px 0 15px;
                border-left: 1px solid #b9baba;
            }
        }
    }

    .footer {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        font-size: 0.95rem;
    }

    .header {
        margin: 20px auto 25px;
        padding: 0;

        .header-content {
            padding-bottom: 25px;

            .header-title {
                font-size: 3.5rem;
                line-height: 2.2rem;
                margin: 0 0 20px;

                span:first-of-type {
                    font-size: 1.5rem;
                }
            }
            .under-title {
                font-size: 0.9rem;
            }
        }
    }

    .job {

        h3 {
            font-size: 1.3rem;
        }

        p {
            font-size: 1rem;
        }

        ul {
            padding-left: 20px;
            font-size: 0.95rem;
        }
    }

    .nav-links {
        display: none;
    }


    .skills-work-education {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .education {
            border-bottom: none;
            padding-bottom: 0;
        }

        .education-list {
            padding-left: 15px;
            border-left: 1px solid #b9baba;

        }

        .skills {
            margin-bottom: 0;

            h3 {
                font-size: 1.1rem;
            }
        }

        .work-list {
            padding-left: 15px;
            border-left: 1px solid #b9baba;
            border-bottom: none;
            padding-bottom: 5px;

        }

        .work-education {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}


/* Google Fonts */
.lexend-font-light {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-font-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-zetta-font-light {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-zetta-font-regular {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
