body {
    margin: 0;
    background-color: #0d172b;
    color: #b9baba;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

.about-me {
    padding: 20px;

}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: 100vh;
    width: 100%;
}

.contact-summary {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b9baba;

    .summary {
        flex: 1;
        border-left: 1px solid #b9baba;
        padding-left: 15px;
    }
}

.footer {
    grid-column: 1 / -1;
    text-align: center;
    height: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #b9baba;
    margin: 20px;

}

.header-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;

    .under-title {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        padding-left: 3px;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0 0 20px;
    letter-spacing: 0.15rem;
    line-height: 2.2rem;

    & span:first-of-type {
        font-size: 1.5rem;
        font-weight: 200;
        padding-left: 4px;
    }
}

.main {
    flex: 1;
    padding: 20px;
}

.skills-work-education {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;

    .skills {
    }

    .work-education {
        border-left: 1px solid #b9baba;
        padding-left: 15px;

    }

    .education {
    }
}




/* Google Fonts */
.lexend-font-light {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-font-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-zetta-font-light {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-zetta-font-regular {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}