body {
    margin: 0;
    background-color: #0d172b;
    color: #b9baba;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

.about-me {
    padding: 20px;

}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: 100vh;
    width: 100%;
}

.contact-summary {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b9baba;

    .contact {

        ul {
            list-style-type: none;
        }

        a {
            color: #b9baba;

        }

    }

    .summary {
        flex: 1;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            padding-left: 15px;
            border-left: 1px solid #b9baba;
            flex: 1;
        }
    }
}

.footer {
    text-align: center;
    padding: 5px;
    margin: 0 20px;
    border-top: 1px solid #b9baba;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #b9baba;
    margin: 20px;

}

.header-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;

    .under-title {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        padding-left: 3px;
        text-transform: uppercase;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    font-size: 3.5rem;
    margin: 0 0 20px;
    letter-spacing: 0.15rem;
    line-height: 2.2rem;

    span:first-of-type {
        font-size: 1.5rem;
        font-weight: 200;
        padding-left: 4px;
    }
}

.job {
    margin-bottom: 15px;

    h3 {
        margin-bottom: 5px;

    }

    p {
        margin: 0 0 10px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    span {
        margin: 0 10px;
    }
}

.main {
    flex: 1;
    padding: 0 20px;
}

.skills-work-education {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;

    .skills {

        ul {
            list-style-type: none;
        }
    }

    .work-education {
        

    }

    .work-list {
        padding-left: 15px;
        border-left: 1px solid #b9baba;

    }

    .education {
        margin-top: 30px;

    }

    .education-list {
        padding-left: 15px;
        border-left: 1px solid #b9baba;

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin: 0;
        }
    }
}


/* Google Fonts */
.lexend-font-light {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-font-regular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-zetta-font-light {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-zetta-font-regular {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}